//this is where we are going to create our media queries for mobile responsive design.
//Widescreens
@include mediaXl {
    //setting gird-template-columns on work.html to display 4 across when on xl screens
    .projects {
        grid-template-columns: repeat(4, 1fr);
    }
}
//desktops & laptops
@include mediaLg {
    .projects {
        grid-template-columns: repeat(3, 1fr);
    }
    
}
//tablets & small laptops
@include mediaMd {
    main {
        align-items: center;
        text-align: center;

        .lg-heading {
            line-height: 1;
            margin-bottom: 1rem;
        }
    }

    ul.menu-nav, 
    div.menu-branding {
        float: none;
        width: 100%;
        min-height: 0;

        &.show {
            transform: translate3d(0, 0, 0);
        }
    }

    .menu-nav {
        height: 75vh;
        transform: translate3d(-100%, 0, 0);
        font-size: 24px;
    }

    .menu-branding {
        height: 25vh;
        transform: translate3d(100%, 0, 0);

        .portrait {
            background-image: url('/img/mini-profile.jpg');
            width: 165px;
            height: 165px;
        }
    }

    .about-info {
        //changing grid template areas at mediaMd media query
        //grid-template-areas are very very powerful
        grid-template-areas: 
        'bioimage'
        'bio'
        'job1'
        'job2'
        'job3';
        //we are sting them on top of eachother so now we want one fractional 1fr instead of 3.
        grid-template-columns: 1fr;
    }

    .projects {
        grid-template-columns: repeat(2, 1fr);
    }
}
//smartphones
@include mediaSm {
    main#home h1 {
        margin-top: 10vh;
    }

    .projects {
        //no need to repeat because we are just display a single column 
        grid-template-columns: 1fr;
    }
}
